<section class="blogpost">
  <div class="blogpost-details">
    <h3>{{blogpost.title}}</h3>
    <p>By: {{blogpost.user_id}}</p>
    <p>Created on: {{blogpost.datecreated}}</p>
    <p>{{blogpost.content}}</p>
  </div>
</section>